<i>Dataset</i> yang kami gunakan sudah bersih oleh karena itu tahap praproses tidak perlu dilakukan layaknya pada <a href="https://github.com/Rakhid16/Naive-Bayes/blob/master/Paper%201/2.%20Praproses.ipynb">paper pertama</a>.

In [1]:
import pandas as pd

### 1. Muat <i>dataset</i>

In [2]:
data = pd.read_csv('monk.csv')
data.head()

   class  head_shape  body_shape  is_smiling  holding  jacket_color  has_tie
0      1           1           1           1        1             3        1
1      1           1           1           1        1             3        2
2      1           1           1           1        3             2        1
3      1           1           1           1        3             3        2
4      1           1           1           2        1             2        1

Kita pindahin kolom <b>class</b> ke posisi paling kanan biar enakan ehehe

In [3]:
kolom = data.pop('class')
data['class'] = kolom
data

     head_shape  body_shape  is_smiling  holding  jacket_color  has_tie  class
0             1           1           1        1             3        1      1
1             1           1           1        1             3        2      1
2             1           1           1        3             2        1      1
3             1           1           1        3             3        2      1
4             1           1           2        1             2        1      1
5             1           1           2        1             2        2      1
6             1           1           2        2             3        1      1
7             1           1           2        2             4        1      1
8             1           1           2        3             1        2      1
9             1           2           1        1             1        2      1
10            1           2           1        1             2        1      0
11            1           2           1        1             3        1      0
12            1           2           1        1             4        2      0
13            1           2           1        2             1        1      1
14            1           2           1        2             3        1      0
15            1           2           1        2             3        2      0
16            1           2           1        2             4        2      0
17            1           2           1        3             2        1      0
18            1           2           1        3             4        2      0
19            1           2           2        1             2        2      0
20            1           2           2        2             3        2      0
21            1           2           2        2             4        1      0
22            1           2           2        2             4        2      0
23            1           2           2        3             2        2      0
24            1           2           2        3             3        1      0
25            1           2           2        3             3        2      0
26            1           3           1        1             2        1      0
27            1           3           1        1             4        1      0
28            1           3           1        2             2        1      0
29            1           3           1        2             4        1      0
..          ...         ...         ...      ...           ...      ...    ...
526           3           3           1        3             2        1      1
527           3           3           1        3             2        2      1
528           3           3           1        3             3        1      1
529           3           3           1        3             3        2      1
530           3           3           1        3             4        1      1
531           3           3           1        3             4        2      1
532           3           3           2        1             1        1      1
533           3           3           2        1             1        2      1
534           3           3           2        1             2        1      1
535           3           3           2        1             2        2      1
536           3           3           2        1             3        1      1
537           3           3           2        1             3        2      1
538           3           3           2        1             4        1      1
539           3           3           2        1             4        2      1
540           3           3           2        2             1        1      1
541           3           3           2        2             1        2      1
542           3           3           2        2             2        1      1
543           3           3           2        2             2        2      1
544           3           3           2        2             3        1      1
545           3           3           2        2             3        2      1
546           3           3           2        2             4        1      1
547           3           3           2        2             4        2      1
548           3           3           2        3             1        1      1
549           3           3           2        3             1        2      1
550           3           3           2        3             2        1      1
551           3           3           2        3             2        2      1
552           3           3           2        3             3        1      1
553           3           3           2        3             3        2      1
554           3           3           2        3             4        1      1
555           3           3           2        3             4        2      1

[556 rows x 7 columns]

### 2. Membuat model

In [4]:
model = []
for i in range(len(data.columns)-1):
    model.append([])
    ikr = 0
    for j in sorted(data[data.columns[i]].unique()):
        model[i].append([])
        model[i][ikr].append(len(data[data[data.columns[i]]==j][data[data[data.columns[i]]==j]['class'] == 0]))
        model[i][ikr].append(len(data[data[data.columns[i]]==j][data[data[data.columns[i]]==j]['class'] == 1]))
        ikr += 1
model

[[[103, 86], [92, 94], [83, 98]],
 [[92, 87], [92, 94], [94, 97]],
 [[138, 143], [140, 135]],
 [[88, 98], [96, 87], [94, 93]],
 [[0, 137], [92, 47], [91, 47], [95, 47]],
 [[135, 137], [143, 141]]]

Ilustrasinya seperti ini :

![alt text](https://raw.githubusercontent.com/Rakhid16/Naive-Bayes/master/Paper%202/sebelum%20laplace.png)

Ternyata ada nilai 0 pada kolom <b>jacket_color</b> Ferguso<br>
Jadinya <i>laplace estimator</i> kepake deh :v

<b>2.1 Penggunaan <i>Laplace Estimator

In [5]:
for k in range(len(data.columns)-1):
    for l in range(len(model[k])):
        model[k][l] = [n+1 for n in model[k][l]]
model

[[[104, 87], [93, 95], [84, 99]],
 [[93, 88], [93, 95], [95, 98]],
 [[139, 144], [141, 136]],
 [[89, 99], [97, 88], [95, 94]],
 [[1, 138], [93, 48], [92, 48], [96, 48]],
 [[136, 138], [144, 142]]]

Ilustrasinya seperti ini :

![alt text](https://raw.githubusercontent.com/Rakhid16/Naive-Bayes/master/Paper%202/sesudah%20laplace.png)

<b>2.2 Ubah ke dalam bentuk 0-1 :

In [6]:
for m in range(len(data.columns)-1):
    for n in range(len(model[m])):
        model[m][n] = [x/sum(model[m][n]) for x in model[m][n]]
model

[[[0.5445026178010471, 0.45549738219895286],
  [0.4946808510638298, 0.5053191489361702],
  [0.45901639344262296, 0.5409836065573771]],
 [[0.5138121546961326, 0.4861878453038674],
  [0.4946808510638298, 0.5053191489361702],
  [0.49222797927461137, 0.5077720207253886]],
 [[0.4911660777385159, 0.508833922261484],
  [0.5090252707581228, 0.49097472924187724]],
 [[0.4734042553191489, 0.526595744680851],
  [0.5243243243243243, 0.4756756756756757],
  [0.5026455026455027, 0.4973544973544973]],
 [[0.007194244604316547, 0.9928057553956835],
  [0.6595744680851063, 0.3404255319148936],
  [0.6571428571428571, 0.34285714285714286],
  [0.6666666666666666, 0.3333333333333333]],
 [[0.49635036496350365, 0.5036496350364964],
  [0.5034965034965035, 0.4965034965034965]]]

Oke model kita udah jadi ;)

### 3. Menguji model

<b>3.1 Rumus perhitungan Naive Bayes :

In [7]:
def hitung(a,b,c,d,e,f):
    for n in range(len(data["class"].unique())):
        nilai_prob[n] = model[0][a][n]*model[1][b][n]*model[2][c][n]*model[3][d][n]*model[4][e][n]*model[5][f][n]*(len(data[data["class"]==n])/len(data))
    
    total = sum(nilai_prob.values())
    
    for i in range(len(nilai_prob)):
        nilai_prob[i]=nilai_prob[i]/total

<b>3.2 Fungsi untuk menentukan hasil akhir :

In [8]:
def penentu(test=False):
    if (nilai_prob[0] > nilai_prob[1] and test == False):
        print(nama,"no")
        print(nilai_prob)
    elif (nilai_prob[0] > nilai_prob[1] and test == True):
        return 0
    elif (nilai_prob[0] < nilai_prob[1] and test == False):
        print(nama,"yes")
        print(nilai_prob)
    else:
        return 1

<b>3.3 Pengujian pertama :

In [9]:
nama = "Zayd"
head_shape = 1
body_shape = 1
is_smiling = 1
holding = 1
jacket_color = 3
has_tie = 1

In [10]:
nilai_prob = {}
hitung(head_shape-1, body_shape-1 , is_smiling-1 , holding-1, jacket_color-1, has_tie-1)
penentu()

Zayd no
{0: 0.6743467718551585, 1: 0.32565322814484166}

Nilainya dikurangi satu biar ngindeksnya bener<br>
Soalnya di<i>dataset</i> itu kategorinya pada dimulai dari angka 1 semua<br><br>
<i>FYI</i> aja sih -,-

<b>3.4 Pengujian kedua :

In [11]:
nama = "Aelita"
head_shape = 3
body_shape = 3
is_smiling = 1
holding = 1
jacket_color = 1
has_tie = 1

In [12]:
nilai_prob = {}
hitung(head_shape-1, body_shape-1 , is_smiling-1 , holding-1, jacket_color-1, has_tie-1)
penentu()

Aelita yes
{0: 0.005071324781537355, 1: 0.9949286752184626}

<b>3.5 Pengujian ketiga dan evaluasi :

Pengujian ketiga dilakukan dengan menggunakan data uji.<br>
Evaluasi dilakukan dengan melihat seberapa akurat hasil prediksi/keluaran dengan nilai asli yang terdapat pada data uji.

In [13]:
data_uji = pd.read_csv('monk_uji.csv')
data_uji.tail()

     class  head_shape  body_shape  is_smiling  holding  jacket_color  has_tie
161      1           2           2           2        2             1        1
162      1           2           2           2        2             1        2
163      1           2           2           2        2             2        1
164      1           2           2           2        2             2        2
165      1           2           2           2        2             3        1

Potongan baris untuk mendapatkan nilai prediksi/keluaran

In [14]:
hasil = []

for i in range(len(data_uji)):
    nilai_prob = {}
    hitung(data_uji.loc[i][1]-1, data_uji.loc[i][2]-1, data_uji.loc[i][3]-1, data_uji.loc[i][4]-1, data_uji.loc[i][5]-1, data_uji.loc[i][6]-1)
    hasil.append(penentu(test=True))

<i>List</i> <b>hasil</b> digunakan untuk menampung nilai prediksi/keluaran

Inisilasisasi nilai awal terhadap variabel yang digunakan untuk mengevaluasi model

In [15]:
betul, tp, tn, fp, fn = 0,0,0,0,0

Proses berikut adalah untuk mendapatkan nilai variabel-variabel yang digunakan untuk mengevaluasi model

In [16]:
for i in range(len(hasil)):
    if(hasil[i] == data_uji['class'][i]):
        betul += 1
    
    if(hasil[i]==0 and data_uji['class'][i] == 0):   # TRUE NEGATIVE
        tn += 1
        
    if(hasil[i]==0 and data_uji['class'][i] == 1):   # FALSE NEGATIVE
        fn += 1
    
    if(hasil[i]==1 and data_uji['class'][i] == 0):   # FALSE POSITIVE
        fp += 1
        
    if(hasil[i]==1 and data_uji['class'][i] == 1):   # TRUE POSITIVE
        tp += 1

Cek akurasi

In [17]:
print("Akurasinya adalah",betul/len(hasil)*100,"persen")

Akurasinya adalah 56.024096385542165 persen

Ilustrasi <i>confusion matrix</i> biner :

![alt text](https://raw.githubusercontent.com/Rakhid16/Naive-Bayes/master/Paper%202/cf0.png)

Pengertian <i>confusion matrix</i> sendiri dapat kalian temukan dengan mudah di internet :)

In [18]:
print("confusion matrix :",tn,fn,fp,tp)

confusion matrix : 91 73 0 2

Itu maksudnya seperti ini :

![alt text](https://raw.githubusercontent.com/Rakhid16/Naive-Bayes/master/Paper%202/cf1.png)

In [19]:
print("recall :",tp/(tp+fn))
print("precison :",tp/(tp+fp))

recall : 0.02666666666666667
precison : 1.0

<center>Sekian dari kami semoga bermanfaat<br>
Jangan lupa bahagia :)